html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(#141e30, #243b55);
}

.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
    p{
        color: rgba(127, 14, 14, 0.703);
    }
    h2 {
        margin: 0 0 30px;
        padding: 0;
        color: #fff;
        text-align: center;
    }
    .create-text{
        top: -20px;
            left: 0;
            color: #fff;
            font-size: 14px;
    }
    .user-box {
        position: relative;
        
        input {
            width: 100%;
            padding: 10px 10px;
            font-size: 16px;
            color: rgba(255, 255, 255, 0.714);
            margin-bottom: 30px;
            border: none;
            border-bottom: 1px solid #fff;
            outline: none;
            background: transparent;
        }
        span{
            position: relative;
            bottom: 20px;
            color: rgb(184, 30, 30);
            font-size: 15px;
        }
        label {
            position: absolute;
            top: 0;
            left: 0;
            padding: 10px 0;
            font-size: 16px;
            color: #fff;
            pointer-events: none;
            transition: .5s;
        }
        input:focus~label,
        input:valid~label {
            top: -20px;
            left: 0;
            color: #03e9f4;
            font-size: 12px;
        }
    }
    button {
        position: relatipx;
        color: #03e9f4;
        background: linear-gradient(#141e30, #243b55);
        border-radius: 5px;
        border: none;
        padding: 5px 10px;
        font-size: 16px;
        text-decoration: none;
        text-transform: uppercase;
        overflow: hidden;
        transition: .5s;
        margin-top: 40px;
        letter-spacing: 4px;
        margin: 10px;
    }
    button:hover {
        background: #03e9f4;
        padding: 5px 10px;
        color: #fff;
        border-radius: 5px;
        border: none;
        box-shadow: 0 0 5px #03e9f4,
            0 0 25px #03e9f4,
            0 0 50px #03e9f4,
            0 0 100px #03e9f4;
    }
}


